*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1%;
}
.sct1 img{
    width: 100%;
}
.sct1 a{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 50%;
}
.sct1 #left{
    position: absolute;
    top: 260px;
    left: 18px;
}
.sct1 #right{
    position: absolute;
    top: 260px;
    right: 18px;
}
.sct2{
    background-color:#2A9D8F;
    width: 60%;
    color: white;
    padding: 15px;
    border-radius: 15px;
    font-style: italic;
    position: absolute;
    top: 565px;
    left: 250px;
}
.sct2 h1{
    font-size: 40px;
    text-align: center;
}
.sct2 div{
    padding: 40px 80px;
}
.sct2 div p{
    display: inline-block;
    margin-left: 27px;
    font-size: 20px;
}